/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  background: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}